---
import { Image } from "astro:assets";
import logo from "../astro-logo-dark.png";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image src={logo} alt="LOGO" width={200} />
		<h1>Hello [[.Name]]</h1>
	</body>
</html>
